* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background-image: url("leone-venter-VieM9BdZKFo-unsplash.jpg"); */
    height: 100vh;
    /* width: 100vh; */
    margin: 0;
    padding: 0;
    
}


canvas{
    height: 100vh;
    /* width: 100vh; */
    background-color: #f7f7f7;
    color: #011aff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.nav{
    display: flex;
    background-color: #fff;
    height: 3.7rem;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
width: 100%;
    position: fixed;
    z-index: 150;
}
.icon{
    flex: 1;
    /* display: inline; */
}

.icon span{
    font-weight: 400;
    font-size: 1.3rem;
    font-family: 'Protest Guerrilla', sans-serif;
font-family: 'Protest Riot', sans-serif;
margin-top: 1.5rem;



}

.name {
    position: relative;
    top: 0.9rem;
}
.icon img{
    height: 30px;
    width: 45px;
    margin-left: 2.5rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
}
.navbar{
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 2.5rem;
}
.navbar li{
    list-style: none;
    margin-top: 0.7rem;
    /* margin-right: 1rem; */
}
.navbar li a{
    margin-left: 1.5rem;
    text-decoration: none;
    color: #0e2431;
font-size: 1.2rem;
font-weight: 580;
}
.navbar li a:hover{
    color: #011aff;
    border-bottom: 0.2rem solid #011aff;
    padding: 0.4rem 0;
}

/* navbar enden */

.container{
    opacity: 1;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
.text{
    flex: 1 ;
    margin-top: 4rem;
    margin-left: 10rem;
}
.sketch{
    flex: 1;
    margin-left: 6rem;
    margin-top: 2rem;
}

.sketch img{
    border-radius: 50%;
    height: 350px;
    width: 350px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 3s;
}

@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}


.media{
    display: flex;
    margin-top: 2rem;
}
.text .heading{
    color: #002057;
    font-size: 3.1rem;
    font-weight: 800;
    margin-top: -1rem;
}
.text h3{
    font-size: 1.5rem;
    padding: 0.6rem 0;
}
#element{
    color: #940808;
}
.text .button{
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1.5rem;
    line-height: 0;
    padding: 0.9rem 2rem;
    border-radius: 4em;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    display: inline-block;
    margin-left: 6rem;
}
.button i{
    margin-left: 0.5rem;
}
.media a i{
    font-size: 1.5rem;
    line-height: 45px;
    color: #00d9ff;
    background-color: #09011b;
    width: 45px;
    height: 45px;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
}
.media a i:hover{
    color: #fff;
    background-color: #00d9ff;
    transition: 1s;
}
/* home section end */

/* about section start */

.about-page h1{
    text-align: center;
    margin-bottom: 1rem;
}


.about-section{
    display: flex;
    justify-content: space-between;
    margin: 3rem 5rem;
    /* height: 100vh; */
}

.about-section-img{
    height: 26rem;
    width: 10rem;
    flex: 0.5;
    border: none;
    margin: 10px 30px 10px 150px;
    border-radius: 30px;
  }
  .about-section-img img{
    object-position: top;
  object-fit: cover;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 2px;
    filter: grayscale() brightness(80%);
    transition: filter 0.5s ease-in-out;
}
.about-section-img img:hover{
  filter: none ;
}
.about-section-info{
    flex: 1;
    margin-top: 55px;
    margin-left: 80px;   
}
.about-section-btn{
  display: flex;
  text-align: center;
  margin: 2rem 1rem;
}
.about-section-btn button{
  border-radius: 0.5rem;
  border: none;
  color: white;
    height: 3rem;
    width: 8rem;
    transition: all 0.1s ease-in-out;
}
.about-section-btn button:hover{
  height: 3.2rem;
  width: 8.4rem;
}
.about-section-info h3,p,h4{
    margin: 11px;
    font-weight: 500;
}
/* about section enden */

/* skill section start */
#skill{
   background-color: #57059e;
}
.cardds{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 1.5rem 12rem 0rem 12rem;
    border-radius: 1.5rem;
    background-color: rgba(0,0,22,0.4);
}
.cardd{
    background-color: rgba(0,0,22,0.9);
    border-radius: 1rem;
    text-align: center;
    margin: 1.5rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
}
.cardd p{
    margin-top: 1.5rem;
    font-weight: 700;
    color: white;
}
/* skill section ended */

/* education section */
.education-page{
  background-color: #E5ECFB;
  padding: 1rem;

}

.education-page-content{
    text-align: center;
    justify-content: center;
   
}
.education-page-cards{
    margin: 2rem 12rem;
}

.education-page-card{
            display: flex;
            margin: 1.5rem;
            border: none;
            border-radius: 1rem;
            background-color: white;
            
}

.education-page-card img{
    height: 10rem;
    width: 20rem;
    margin-right: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
/* education section ended */
/* project section start */
.project-page{
  background-color: rgb(0, 1,43);
  padding: 1rem;
}
.project-page-cards{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 1rem;
}

.project-page-card{
  height: 17rem;
  width: 22rem;
  border: none;
  border-radius: 1rem;
  margin: 1.5rem;
}
.project-page-card img{
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}
.project-section-button{
  display: flex;
  text-align: center;
  justify-content: center;
}
.project-section-button button{
  border-radius: 0.5rem;
  height: 3rem;
  width: 6.5rem;
}

/* experience section starts */
.experience .timeline {
    position: relative;
    /* max-width: 100%; */
    /* width: 100%; */
    margin: 0 auto;
  }
  .experience .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background: #020133;
    top: 0;
    bottom: 0;
    left: 48.9%;
    margin-left: -3px;
    z-index: -2;
  }
  .experience .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  /*circles on timeline*/
  .experience .container::after {
    content: "\f0b1";
    position: absolute;
    width: 40px;
    height: 40px;
    right: 63px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #ff9f55;
    top: 55px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.3rem;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    color: #02094b;
    font-family: "Font Awesome\ 5 Free";
  }
  .experience .left {
    left: -25%;
    height: 10rem;
    width: 50rem;
  }
  .experience .right {
    left: 24%;
    height: 10rem;
    width: 50rem;
  }
  /* arrows pointing right */
  .experience .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top:70px;
    width: 0;
    z-index: 101;
    right: 110px;
    border: medium solid #f68c09;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f68c09;
  }
  /* arrows pointing left  */
  .experience .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1px;
    width: 0;
    z-index: 1;
    left: 100px;
    border: medium solid #f68c09;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f68c09 transparent transparent;
  }
  .experience .right::after {
    left: 40px;
    /* height: 10rem; */
  }
  /* .experience .left::after{
    /* height: 10rem; 
  } */
  .experience .content {
    background-color: #f68c09;
    position: relative;
    border-radius: 6px;
  }
  .experience .content .tag {
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
  }
  .experience .content .desc {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
  }
  .experience .content .desc h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .experience .content .desc p {
    font-size: 1.2rem;
  }
  /* view all button */
  .morebtn {
    display: flex;
    justify-content: center;
  }
  .morebtn .btn {
    position: relative;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 0.5em;
    transition: 0.5s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    text-align: center;
  }
  .morebtn .btn span {
    font-weight: 600;
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
  }
  .morebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .morebtn .btn:hover {
    background: #1a047e;
  }
  .morebtn .btn:hover i {
    transform: translateX(5px);
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  /* @media screen and (max-width: 600px) {
    .experience {
      min-height: 80vh;
    }
    .experience .timeline {
      margin-top: 2rem;
    }
    .experience .timeline::after {
      left: 31px;
    }
    .experience .container {
      width: 100%;
      padding-left: 8rem;
      padding-right: 2rem;
    }
    .experience .container::after {
      font-size: 2.2rem;
    }
    .experience .container::before {
      left: 61px;
      border: medium solid #f68c09;
      border-width: 10px 10px 10px 0;
      border-color: transparent #f68c09 transparent transparent;
    }
    .experience .left::after {
      left: 15px;
    }
    .experience .right::after {
      left: 15px;
    }
    .experience .right {
      left: 0%;
    }
    .morebtn {
      margin-top: 3rem;
    }
  } */
  /* experience media queries ends */
  /* experience section ends */
  

/* form-section */
.contact-page{
    background-color: #E5ECFB;
    position:relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.contact-page-section{
  
    background-image: url("https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?q=80&w=1430&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")  ;
    background-size: cover;
    background-repeat: no-repeat;
   
    height: 80%;
    width: 80%;
    border-radius: 1.5rem;

}
.contact-page-form{
    position: relative;
    width: 23%;
    float: right;
    display: flex;
    text-align: right;
    justify-content: right;
    margin-top: 5rem;
    margin-right: 18rem;
    
}

.input-group{
    width: 170%;
    height: 2.76rem;
    /* outline: 0; */
    border: 3px solid blueviolet;
    border-radius: 0.400rem;
}
.input-group-textarea{
    width: 170%;
    height: 7.6rem;
    border: 3px solid blueviolet;
    border-radius: 0.400rem;
}
.input-group input{
    outline: none;
}
.form-submit-btn{
    position: relative;
    top: 2rem;
    float: right;
    align-items: end;
    align-items: flex-end;
    text-align:right;
    
}
.submit-btn button{
    position: relative;
    top: 1rem;
    left: 10rem;
border-radius: 0.6rem;
height: 3rem;
width: 7rem;
color: white;
background-color: #011aff;
border: none;
font-weight: 600;
font-size: 1rem;
}


footer{
    /* visibility: visible; */
    position: relative;
    background-color: #09011b;
    background: rgb(0, 1, 43);
    padding: 2.5rem 6rem 0rem 6rem;
}

.footer-section{
    display: flex;
    color: white;
    justify-content: center;
    text-align: start;
    margin-bottom: 2.5rem;
    /* margin: 1rem; */
}

.footer-about-section{
    flex: 1;
    margin-left: 2rem;

}
.footer-link-section{
    flex: 1;
    margin-left: 2rem;
}

.footer-link-section li{
    list-style: none;
}
.footer-link-section a{
    text-decoration: none;
    color: white;

}
.footer-contact-section{
    flex: 1;
    margin-left: 1rem;
}
.footerrr{
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 500;
}


/* footer heart shape */
.heart { 
  background: red; 
  position: relative; 
  height: 10px; 
  width: 10px; 
  /* Animation */
  transform: rotate(-45deg) scale(1); 
  animation: pulse 2s linear infinite; 
  margin: 1.5rem 0rem;
} 


.heart::after { 
  /* background:blue; */
  background:inherit; 
  border-radius: 50%; /* To make circle */
  content:''; 
  position:absolute; 
  /* top: -100px;*/
  top: -50%; /* Inherit properties of parent */
  /* left: -100px; */
  left:0; 
  height: 10px; 
  width:10px; 
} 
.heart::before { 
/*  background:green; */
  background:inherit;  
  border-radius: 50%; /* To make circle */
  content:''; 
  position:absolute; 
  top:0;  
  right:-50%; /* Inherit properties of parent */
  height: 10px; 
  width:10px; 
} 

@keyframes pulse{ 
  0% { 
      transform: rotate(-45deg) scale(1); 
      opacity: 1; 
  } 
  10% { 
      /* transform: rotate(-45deg) scale(1.3);  */
  } 
  20% { 
      /* transform: rotate(-45deg) scale(0.9);  */
  } 
  30% { 
      /* transform: rotate(-45deg) scale(1.2);  */
  } 
  40% { 
      /* transform: rotate(-45deg) scale(0.9);  */
  }
  50% { 
      transform: rotate(-45deg) scale(1.3); 
      opacity: 1; 
  }/* 
  60% { 
      transform: rotate(-45deg) scale(0.95); 
  } 
  70% { 
      transform: rotate(-45deg) scale(1); 
  } */
  100% { 
      transform: rotate(-45deg) scale(1); 
      opacity: 1; 
  } 
} 