<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Aditya Dubey</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" href="./assets/pageicon.png" id="icon">
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@300;400;500;700&family=Playfair+Display&family=Protest+Guerrilla&family=Protest+Riot&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div>
  
<!-- navbar -->
    </nav>
    <nav class="navbar  navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <div class="icon">
         <img src="/assets/aditya.jpg" alt="Aditya">
          <span class="name">Aditya</span></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-ul me-auto mb-2 mb-lg-0 me-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skill">Skill</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" id="home">
      <div id="particles-js"></div>
      <div class="container-section">
      <div class="text">
        <h1 class="heading">Hi There,</h1>
        <h1 class="heading">I'm Aditya <span style="color: 
            #ff7b00;">Dubey</span></h1>
        <h3>I Am Into <span id="element"></span></h3>
          <button>
        <a class="button" href="#about">
          <span>About Me</span>
        </a></button>
        <div class="media">
          <div class="link"><a href="https://t.me/+916207141985" target="_blank"><i
                class="fa-brands fa-telegram"></i></a></div>
          <div class="link"><a href=""><i class="fa-brands fa-square-instagram" target="_blank"></i></div>
          <div class="link"><a href="https://github.com/aditya2003dubey" target="_blank"><i
                class="fa-brands fa-square-github" target="_blank"></i></a></div>
          <div class="link"><a href="mailto:aditdubey211@gmail.com" target="_blank"><i
                class="fa-brands fa-facebook"></i></a></div>
          <div class="link"><a
              href="https://www.linkedin.com/in/aditya-dubey-367965201?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
          <div class="link"><a href="https://wa.me/+916207141985" target="_blank"><i
                class="fa-brands fa-square-whatsapp"></i></a></div>
        </div>
      </div>

      <div class="sketch cardd-ignore" data-tilt data-tilt-reverse="false">
        <img src="https://cdn.pixabay.com/photo/2019/10/09/07/28/development-4536630_640.png" alt="EMOJI">
      </div>
    </div>
    </div>


    <!-- about-page start... -->
    <div class="about-page" id="about">
      <h1> <i class="fa-solid fa-user"></i> About <span style="color: #2506ad;">Me</span></h1>
      <div class="about-section">
        <div class="about-section-img">
          <img src="/assets/photo.jpeg" alt="profile-photo">
        </div>
        <div class="about-section-info">
          <h3> <b>I'm Aditya</b></h3>

          <h4>Full Stack Developer</h4>
          <p class="info-big">I am a Full-Stack developer based in Jamshedpur, India. I am an Information Technology undergraduate from NSU.
           I am very passionate about improving my coding skills & developing applications & websites. I build WebApps
            and Websites using MERN Stack. Working for myself to improve my skills. Love to build Full-Stack clones.</p>
            <p class="info-small">I am a Full-Stack developer based in Jamshedpur, India. I am an Information Technology undergraduate from NSU.<details class="info-small"><summary>view more..</summary>
              I am very passionate about improving my coding skills & developing applications & websites. I build WebApps
               and Websites using MERN Stack. Working for myself to improve my skills. Love to build Full-Stack clones. </details></p>
            <p><span style="color: blue;">Email: </span><span>aditdubey211@gmail.com</span> </p>
          <p><span style="color: blue;">Place: </span><span>Jamshedpur,Jharkhand-831019</span></p>
          <div class="about-section-btn">
            <a href="resume/Aditya_Dubey_Resume.pdf" class="resume-button" type="button" download>
              <span class="resume-button__text">Resume</span>
              <span class="resume-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg"><path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path><path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path><path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path></svg></span>
            </a>
        </div>
        </div>
      </div>
    </div>
    <!-- about-page end -->

    <!-- skill section start -->
    <div class="skill" id="skill">
      <h1 style="text-align: center; font-weight: bold; "><span style="color: white;"><i
            class="fa-solid fa-laptop-code"></i> Skills &amp </span><span style="color: #ffe600;">Abilities</span></h1>
      <div class="cardds">

        <div class="cardd">
          <img class="skill-section-img" src="https://kinsta.com/wp-content/uploads/2021/03/HTML-5-Badge-Logo.png" alt="">
          <p>HTML</p>
        </div>
        <div class="cardd cardd-ignore">
          <img class="skill-section-img" src="https://diziglobalsolution.com/wp-content/uploads/2023/04/logo-css-3-1536.png" alt="">
          <p>CSS</p>
        </div>
        <div class="cardd cardd-ignore">     
          <img class="skill-section-img" src="./assets/skills/js.png" alt="">
          <p>JS</p>
        </div>
        <div class="cardd">
          <img class="skill-section-img" src="./assets/skills/bootstrap.png" alt="">
          <p>Bootstrap</p>
        </div>
        <div class="cardd cardd-ignore">
          
          <img class="skill-section-img" src="./assets//skills/tailwind.png" alt="">
          <p>Tailwind</p>
        </div>
        <div class="cardd cardd-ignore">         
          <img class="skill-section-img" src="/assets/skills/sql.png" alt="">
          <p>SQL</p>
        </div>
        <div class="cardd cardd-ignore">
          <img class="skill-section-img" src="/assets/skills/mongoDb.png" alt="">
          <p>MongoDb</p>
        </div>
        <div class="cardd cardd-ignore">
          <img class="skill-section-img" src="./assets/skills/node js.png" alt="">
          <p>Node js</p>
        </div>
        <div class="cardd">
          <img class="skill-section-img" src="./assets//skills/react.png" alt="">
          <p>React</p>
        </div>
        <div class="cardd cardd-ignore">
          <img class="skill-section-img" src="./assets/skills/express-js.png" alt="Express Js">
          <p>Express Js</p>
        </div>
        <div class="cardd ">
          <img class="skill-section-img" src="./assets/skills/redux.png" alt="Redux">
          <p>Redux</p>
        </div>
        <div class="cardd cardd-ignore">
          <img class="skill-section-img" src="./assets/skills/material-ui.png" alt="Materia UI">
          <p>Materia UI</p>
        </div>
        
      </div>
      <div class="about-section-btn view-more animated-viewMore-btn cardd-view-btn">
        <button class="learn-more " onclick="viewMore()">
          <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
          </span>
          <span class="button-text">View More</span>
        </button>
      </div>

    </div>
    <!-- skill section enden -->

    <!-- education section start -->
    <div class="education-page" id="education">
      <div class="education-page-content">
        <h1><i class="fa-solid fa-graduation-cap"></i> My <span class="purple">Education</span> </h1>
        <p>Education Is Not The Learning Of Facts, But The Training Of The Mind To Think.</p>
      </div>
      <div class="education-page-cards ">
       <a href="https://nsuniv.ac.in/" target="_blank">
         <div class="education-page-card">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9AiFOppEUB3HXEE7JG1VGnj1rQvQjx3JbyfaLZb9wQ&s"
            alt="">
          <div class="education-page-info">
            <h4><span class="education-page-card-h4">Bachelor Of Computer Application| </span>BCA</h4>
            <p>Netaji Subhash University | UGC</p>
            <h6>2022-2025 | Pursuing</h6>
          </div>
        </div>
      </a>
      <a href="https://karimcitycollege.ac.in/" target="_blank" >
        <div class="education-page-card">
          <img src="https://khojoindia.org/uploads/images/202305/image_870x580_64647c38610a6.jpg" alt="">
          <div class="education-page-info">
            <h4><span class="education-page-card-h4">Intermidiate of Commerce|</span> I.COM</h4>
            <p>Karim City College | JAC</p>
            <h6>2019-2021 | Completed</h6>
          </div>
        </div>
      </a>
      </div>
    </div>
    <!-- education section ended -->

<!-- //project section start -->
    <div class="project-page" id="work">
      <div class="project-page-section">
        <h1 style="text-align: center; color: white;">
          <i class="fa-solid fa-laptop-code"></i> Project <span class="yellow">Made</span></h1>
      </div>
      <div class="project-page-cards">
        <div class="project-page-card cardd-ignore">
              <img src="assets/projects/wonderlust.png" alt="WONDERLUST">
              <div class="card-body">
                <h1 class="card-title">WONDERLUST</h1>
                <p class="card-info">Full Stack Airbnb clone using MERN Stack. With All Major Featurs and Authentication and Adding Reviews. </p>
                <div>
                <a class="card-btn" href="https://wanderlust-vqxn.onrender.com/listing" target="_blank"><i class="fa-solid fa-eye"></i> View</a>
                <a class="card-btn" href="https://github.com/aditya2003dubey/Wonderlust" target="_blank"><i class="fa-solid fa-code"></i> Code</a>
              </div>
              </div>
            </div>
        <div class="project-page-card cardd-ignore">
          <img src="assets/projects/weather.png" alt="WEATHER APP">
          <div class="card-body">
            <h1 class="card-title">WEATHER APP</h1>
            <p class="card-info">Weather App Built using React, Material UI and Weather API, Provides Weather Forecast</p>
            <div>
              <a class="card-btn"><i class="fa-solid fa-eye"></i> View</a>
              <a class="card-btn" href="https://github.com/aditya2003dubey/Wheather-App" target="_blank"><i class="fa-solid fa-code"></i> Code</a>
            </div>
          </div>
        </div>
        <div class="project-page-card cardd-ignore">
          <img src="assets/projects/E-Commerce.png" alt="E-COMMERCE">
          <div class="card-body">
            <h1 class="card-title">E-COMMERCE</h1>
            <p class="card-info">Simple landing E-COMMERCE website built using HTML, CSS, JavaScript and some JavaScript Libraries.</p>
            <div>
              <a class="card-btn" href="https://aditya2003dubey.github.io/E-Commerce/" target="_blank"><i class="fa-solid fa-eye"></i> View</a>
              <a class="card-btn" href="https://github.com/aditya2003dubey/E-Commerce" target="_blank"><i class="fa-solid fa-code"></i> Code</a>
            </div>
          </div>
        </div>
        <div class="project-page-card cardd-ignore">
          <img src="assets/projects/simon-says.png" alt="SIMON-SAYS Game">
          <div class="card-body">
            <h1 class="card-title">SIMON SAYS GAME</h1>
            <p class="card-info">Simon-Says Game Build using HTML, CSS and JavaScript with Showing High Level Functionalities</p>
            <div>
              <a class="card-btn" href="https://aditya2003dubey.github.io/Simon-Says-Game/" target="_blank"><i class="fa-solid fa-eye"></i> View</a>
              <a class="card-btn" href="https://github.com/aditya2003dubey/Simon-Says-Game" target="_blank"><i class="fa-solid fa-code"></i> Code</a>
            </div>
          </div>
        </div>
        <div class="project-page-card">
          <img src="assets/projects/Todo-List.png" alt="TODO_LIST">
          <div class="card-body">
            <h1 class="card-title">TODO-LIST</h1>
            <p class="card-info">Simple Todo-List App Build to store your daily Task using HTML, CSS and JavaScript               </p>
            <div>
              <a class="card-btn" href="https://aditya2003dubey.github.io/Todo-List/" target="_blank"><i class="fa-solid fa-eye"></i> View</a>
              <a class="card-btn" href="https://github.com/aditya2003dubey/Todo-List" target="_blank"><i class="fa-solid fa-code"></i> Code</a>
            </div>
          </div>
        </div>
        <div class="project-page-card">
          <img src="https://media.licdn.com/dms/image/D4D12AQFidZRD7yMEHQ/article-cover_image-shrink_720_1280/0/1691241743325?e=2147483647&v=beta&t=PyST8q7CDL5x_GIzslj4rTy8_WHkKIftMW6f6AjWOiQ" alt="">
          <div class="card-body">
            <h1 class="card-title">SPOTIFY CLONE</h1>
            <p class="card-info">Frontend Spotify clone Built using HTML, CSS and JavaScript and with the help of BootStrap</p>
            <div>
              <a class="card-btn" href="https://aditya2003dubey.github.io/Spotify-clone/" target="_blank"><i class="fa-solid fa-eye"></i> View</a>
              <a class="card-btn" href="https://github.com/aditya2003dubey/Spotify-clone" target="_blank"><i class="fa-solid fa-code"></i> Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="project-section-button text">
        <button>
          <a class="button" href="https://github.com/aditya2003dubey?tab=repositories" target="_blank">
            <span>View All</span>
          </a></button>
        
      </div>
    </div>
<!-- work section  ended-->
 
<!-- contact section start -->
  <div class="contact-page" id="contact">
    <h1 style="text-align: center;"><i class="fa-solid fa-headset"></i> Get In <span class="purple">Touch</span></h1>
    <div class="contact-page-section">
      <div class="contact-page-form">
        <form action="/submit" method="post">
          <div class="input-group mb-3 form">
            <span class="input-group-text " id="basic-addon1" style="border-right: none;"><i
                class="fa-solid fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Name" name="fullName" aria-label="Username"
              aria-describedby="basic-addon1" style="border-left: none;" required id="fullName" >
          </div>
          <div class="input-group mb-3 form">
            <span class="input-group-text" id="basic-addon1" style="border-right: none;"><i
                class="fa-solid fa-envelope"></i></span>
            <input type="email" class="form-control" placeholder="email@gmail.com" aria-label="Username"
              aria-describedby="basic-addon1" style="border-left: none;" name="email" id="email" required>
          </div>
          <div class="input-group mb-3 form">
            <span class="input-group-text" id="basic-addon1" style="border-right: none;"><i
                class="fa-solid fa-phone"></i></span>
            <input type="number" class="form-control" placeholder="Phone" aria-label="Username"
              aria-describedby="basic-addon1" style="border-left: none;" name="phoneNo" id="phoneNo" required>
          </div>
          <div class="input-group-textarea form">
            <span class="input-group-text" style="border-top: none;"><i class="fa-solid fa-message"></i></span>
            <textarea class="form-control" aria-label="With textarea" cols="1" rows="3" style="border-left: none;"
              placeholder="Write Message here..." name="message" id="message" required></textarea>
          </div>
          <div class="submit-btn">
            <button onclick="emailSend()" >Submit <i class="fa-solid fa-paper-plane"></i></button>
            
          </div>
          
        </form>
      </div>
    </div>
  </div>
  <!-- contact section ended -->

  <!-- footer section -->
  <footer class="footer">
    <div class="footer-section">
      <div class="footer-about-section">
        <h3>Aditya's portfolio</h3>
        <p>Thank you for visiting my personal portfolio website. Connect with me over socials.</p>
        <p>Keep Rising 🚀. Connect with me over live chat!</p>
      </div>
      <div class="footer-link-section">
        <h3>Quick link</h3>
        <div class="quick-link">
          <ul>
            <li class="list-2"><i class="fa-solid fa-circle-chevron-right"></i> <a href="#home">Home</a></li>
            <li class="list-2"><i class="fa-solid fa-circle-chevron-right"></i> <a href="#about">About</a></li>
            <li class="list-2"><i class="fa-solid fa-circle-chevron-right"></i> <a href="#skill">Skill</a></li>
            <li class="list-2"><i class="fa-solid fa-circle-chevron-right"></i> <a href="#education">Education</a>
            </li>
            <li class="list-2"><i class="fa-solid fa-circle-chevron-right"></i> <a href="#work">Work</a></li>
            <li class="list-2"><i class="fa-solid fa-circle-chevron-right"></i> <a href="#experience">Experience</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-contact-section">
        <h3>Contact Info</h3>
        <p>+91 6207141985</p>
        <p>aditdubey211@gmail.com</p>
        <p>Jamshedpur, India-831019</p>
        <div class="media">
          <div class="link"><a href=""><i class="fa-brands fa-instagram" target="_blank"></i></a></div>
          <div class="link"><a href="https://github.com/aditya2003dubey" target="_blank"><i class="fa-brands fa-github"></i></a></div>
          <div class="link"><a href="mailto:aditdubey211@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></div>
          <div class="link"><a href="https://wa.me/+916207141985" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></div>
          <div class="link"><a href="https://www.linkedin.com/in/aditya-dubey-367965201?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
    <hr style="color: bisque;">
    <div class="footerrr">
      
      <p>Design with by <span>
          <div class="heart"></div>
        </span><span style="color: #ffae00; line-height: 0px; margin: 1.5rem 0.5rem;"> Aditya Dubey </span></p>
    </div>
    </div>

    </div>
    </div>
  </footer>
<!-- footer section end -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script>
    var typed = new Typed('#element', {
      strings: ["Web Devlopment", "Frontend Development", "Backend Devlopment"],
      typeSpeed: 50,
      backSpeed: 50,
      loop: true,
    });

   
  </script>
  <script src=" particles.js"></script>
  <script src=" app.js " ></script>
  <script src="https://smtpjs.com/v3/smtp.js">
  </script>
</body>
</html>