<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/pageicon.png">
    <title>Portfolio | Aditya Dubey</title>
</head>
<style>
    .content{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 6rem;

    }
</style>
<body>
    <div class="content">
    <h2><%= fullName %>, Your Message is Submitted Sucessfully &#128512;</h2>
    <div>
    <p>Go To <a href="/">Home Page</a> </p>
</div>
</div>
</body>
</html>